/* Global style */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}
:root {
  --main-bg-color: #0078ff;
  --paragraph-color: #4e4e4e;
  --dark-color: #000;
  --light--color: #fff;
  --background-body: #f5f5f5;
}
::selection{
  background-color: #ade1f5;
  color: #fff;
}
body {
  background-color: var(--background-body);
}
h1 {
  color: var(--light--color);
  font-size: 48px;
}
p , span , input{
  color: var(--paragraph-color) !important;
}
p{
  margin-top:10px ;
}
h2 {
  font-size: 32px;
}
ul {
  padding-left: 0rem;
}
ul li {
  text-transform: capitalize;
}
input{
  font-size: 14px;
  padding: 10px 15px;
}
textarea {
   height: 150px;;
  }
/* global class */
.title h2{
  font-size: 48px;
}
.title .line{
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  width: 50px;
  background-color: var(--main-bg-color);
}

/*! start navbar  */
.navbar {
  position: relative;
}
.bg-dark {
  background-color: rgba(0, 0, 0, 0.9) !important;
}
.navbar {
  padding: 0 !important;
}
.navbar-brand {
  font-size: 28px;
  font-weight: 600;
}
.fa-bars {
  font-size: 22px;
  color: var(--light--color);
}
/* nave btn style */
.navbar-toggler {
  color: transparent;
  border: none;
}
/* show class */
/* change icon */
nav:not(.show) .fa-x {
  display: none;
}
nav:not(.show) .fa-bars {
  display: block;
}
nav:has(.show) .fa-x {
  display: block;
}
.fa-x {
  color: white;
}
nav:has(.show) .fa-bars {
  display: none;
}


/* change nav style */
nav:has(button[aria-expanded="true"]) .navbar-collapse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: var(--light--color);
  background-color: rgba(78, 78, 78, 0.9) !important;
}
nav:has(button[aria-expanded="true"]) .nav-pills {
  position: absolute;
  top: 50px;
  right: 15px;
  left: 15px;
  bottom: 15px;
  background-color: var(--light--color);
}
/* nav btn x-mark */
nav:has(button[aria-expanded="true"]) .navbar-toggler {
  right: 20px;
  position: absolute;
  z-index: 99999;
}

.collapsing {
  transition: height 0s ease;
}

.nav-item .nav-link {
  color: var(--paragraph-color);
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  transition: color 0.5s;
}
/* active link */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: transparent;
  color: var(--main-bg-color);
}
/* nav-links color */
 .navbar-nav .nav-link.show {
  color: var(--paragraph-color);
}
.nav-link:hover {
  color: var(--main-bg-color) !important;
}
/* ?start dropdown */

nav .dropdown .dropdown-menu{
  border: none;
  margin: 0 20px;
 box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
 padding: 10px 0px 10px 20px;
  
}
nav .dropdown .dropdown-menu li{
  padding: 5px 0;
}
nav .dropdown .dropdown-menu li a:hover{
  color: var(--main-bg-color) !important;
}
.deep__menu{
  margin-top: 10px !important;
}
.deep:hover .deep__menu{
  display: block;
}
/* end navbar section */

/* start home section */
header {
  background-image: url(../image/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed
}
header .cover {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;

}
.cover p{
  position: relative;
  color: var(--light--color) !important;
  font-size: 24px;
  text-transform: capitalize;
}
.cover p::after{
  content: " |";
  animation: moving 12s infinite;
}
@keyframes moving{
  0% {content:" f |" ;}
  1% {content:" fr |" ;}
  2% {content:" fre |" ;}
  3% {content:" free |" ;}
  4% {content:" freel |" ;}
  5% {content:" freelan |" ;}
  6% {content:" freelanc |" ;}
  7% {content:" freelancr |" ;}
  8% {content:" freelancer |" ;}
  10% {content:" freelancer " ;}
  12% {content:" freelancer |" ;}
  14% {content:" freelance | " ;}
  15% {content:" freelanc | " ;}
  16% {content:" freelan | " ;}
  17% {content:" freela | " ;}
  18% {content:" freel | " ;}
  19% {content:" fre | " ;}
  20% {content:" fr | " ;}
  21% {content:" f | " ;}
  22% {content:"  | " ;}
  23% {content:" p | " ;}
  24% {content:" ph | " ;}
  25% {content:" pho | " ;}
  26% {content:" phot | " ;}
  27% {content:" photo | " ;}
  28% {content:" photog | " ;}
  29% {content:" photogr | " ;}
  30% {content:" photogra | " ;}
  31% {content:" photograph | " ;}
  32% {content:" photographe | " ;}
  33% {content:" photographer | " ;}
  35% {content:" photographer  " ;}
  37% {content:" photographer | " ;}
  39% {content:" photographer  " ;}
  41% {content:" photographer | " ;}
  42% {content:" photographe | " ;}
  43% {content:" photograph | " ;}
  44% {content:" photograp | " ;}
  45% {content:" photogra | " ;}
  46% {content:" photogr | " ;}
  47% {content:" photog | " ;}
  48% {content:" photo | " ;}
  49% {content:" phot | " ;}
  50% {content:" pho | " ;}
  51% {content:" ph | " ;}
  52% {content:" p | " ;}
  53% {content:" d | " ;}
  54% {content:" de | " ;}
  55% {content:" des | " ;}
  56% {content:" desi | " ;}
  57% {content:" desig | " ;}
  58% {content:" design | " ;}
  59% {content:" designe | " ;}
  62% {content:" designer | " ;}
  64% {content:" designer  " ;}
  66% {content:" designer | " ;}
  68% {content:" designer  " ;}
  70% {content:" designer | " ;}
  71% {content:" designe | " ;}
  72% {content:" design | " ;}
  73% {content:" desig | " ;}
  74% {content:" desi | " ;}
  75% {content:" des | " ;}
  76% {content:" dev | " ;}
  77% {content:" deve | " ;}
  78% {content:" devel | " ;}
  79% {content:" develo | " ;}
  80% {content:" develop | " ;}
  81% {content:" develope | " ;}
  83% {content:" developer | " ;}
  85% {content:" developer  " ;}
  87% {content:" developer | " ;}
  89% {content:" developer  " ;}
  90% {content:" developer | " ;}
  91% {content:" develope | " ;}
  92% {content:" develop | " ;}
  93% {content:" develo | " ;}
  94% {content:" devel | " ;}
  95% {content:" deve | " ;}
  96% {content:" dev | " ;}
  97% {content:" de | " ;}
  98% {content:" d | " ;}
  99% {content:" | " ;}
  100% {content:" | " ;}
 
 
}
/* !end home section */

/* !start about section */
.about__content ,.contact__form{
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.about__content ul li ,.card__project ul li{
  line-height: 2.5;
  color: var(--paragraph-color);
}
.about__content ul li span ,.card__project ul li span {
  font-weight: 600;
  color: #1e1e1e;
  margin-right: 5px;
}

.skill .title{
      font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
}
.skill{
  margin-top: 20px !important;
 
}
.progress, .progress-stacked{
  border-radius: 0;
  height:10px;
  background-color: #cde1f8;
}
.progress-bar{
  background-color: var(--main-bg-color);
}
/* .skill li {
  position: relative;
  line-height: 4 !important;
}
ul.skill li::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #cde1f8;
}
ul.skill li::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 10px;
  background-color: var(--main-bg-color);
}
ul.skill li:nth-child(1)::after {
  width: 85%;
}
ul.skill li:nth-child(2)::after {
  width: 75%;
}
ul.skill li:nth-child(3)::after {
  width: 50%;
}
ul.skill li:nth-child(4)::after {
  width: 90%;
} */
.about__prag h2  {
  line-height: 2;
}
.about__prag h2::after  ,.contact__header .line{
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background-color: var(--main-bg-color);
  width: 100px;
  height: 3px;
}
.title-ul {
  margin-top: 10px;
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}
/*! end about section */
/* !start service section */

.service__content{
      background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
.service__content h3{
  font-size: 22px;
}

.service__icon{
  width: 100px;
  height: 100px;
  margin: auto;
  box-shadow: 0 0 0 10px var(--main-bg-color);
  font-size: 2rem;
  transition: all .5s;
}
.service__content:hover .service__icon{
  background-color: var(--main-bg-color);
  box-shadow:0 0 0 10px #0077ff61;
}
.service__icon i{
  transition: color .5s;
}
.service__content:hover .service__icon i{
  color: var(--light--color);
}
/*! end service section */

/* ! start achievement section */
.achievement{
  background-image: url(../image/post-3.jpg) ;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  
}
.layer{
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 123, 255, 0.7);
  padding: 8rem 0 !important;
}
.ach__icon{
  width: 60px;
  height: 60px;
  box-shadow: 0 0 0 10px #cde1f8;
  margin: auto;
  
}
.ach__icon i {
  font-size: 32px;
  color: white;
}
.achievement p{
  font-size: 32px;
}

/* ! start portfolio section */
.card-work{
      box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
 .text h3{
  font-size: 19.2px;
}
.text p{
  font-size: 12px;
}
.card .image img{
  display: block;

}
.card .image {
  overflow: hidden !important;
 
}
.card .image img{
   transition: transform .5s;
}
.card-work:hover .card .image img{
  transform: scale(1.1);
}

/* ! start testimonials section */
.testimonial ,.contact{
  background-image: url(../image/overlay-bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
  border: none;
}
.test__image{
  width: 150px;
  height: 150px;
}
.carousel-caption p{
  color: var(--light--color) !important;
  font-size: 20px;

}
.carousel-caption h5{
font-size: 25px;
}
/* carousel btn */
.carousel-indicators [data-bs-target]{
width: 15px;
height: 15px;
border-radius: 50%;
}
.card-footer img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.card-body a , a span.color {
  transition: color .5s;
}
.card-body a:hover ,  a span.color:hover{
  color: var(--main-bg-color) !important;
}
.card__category{
  padding: 5px 10px;
  width: fit-content;
    align-items: center;
    color: var(--light--color) !important;
    overflow: hidden;
    background-color: #0078ff;
    border-radius: 4px;
    top: 0px;
    left: 50%;
    font-size: 12px;
}
/* ! start contact section */
.contact .layer{
  text-align: start;
  padding-bottom: 40px !important;
}
.contact button{
  font-size: 19px;
}

.contact__inf p{
  font-size: 20px;
}
.social__icon{
  width:200px;
  
}
.social__icon .icon{
      height: 40px;
    width: 40px;
    font-size: 1.2rem;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #0078ff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .5s;
}
.social__icon .icon:hover {
    background-color: var(--main-bg-color);
  box-shadow:0 0 0 3px #0077ff61;
}
.social__icon .icon i{
  transition: color .5s;
}
.social__icon .icon:hover i{
  color: #fff;
}
.contact__inf ul li{
  line-height: 2.5;
}
/* start footer tag */
footer{
      text-align: center;
    color: #fff;
    padding: 25px 0;
    background: #0062d3;
}